body,html {
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 30px;
    width: 15em;
}

.container {
    width: 15em;
    padding: 1em;
    background: white;
}

.key-container {
    display: flex;
}

.key-box {
    flex: 1;
    text-align: center;
    margin: 1em;
    border: 10px solid #B1C1DE;
    border-radius: 0.5em;
}

.key-label {
    background: #B1C1DE;
    padding-top: 0.4em;
}

.mod-container {
    display: flex;
}

.mod-box {
    flex: 1;
    text-align: center;
    background: #ff980030;
    margin: 0.3em;
    border-radius: 0.5em;
}

.selected {
    background: #ff9800;
}

.button-container {
    display: flex;
}

.button {
    flex: 1;
    font-size: 1em;
    margin: 1em 1em 0 1em;
    border-radius: 0.5em;
    outline: none;
}

